<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row pad-left-right">
            <p class="title">Posts</p>
        </div>
    </div>
    <div class="panel-body">
        <div class="center-panel" *ngIf="this.mine">
            <cms-document-item *ngFor="let document of documents | postsFilter:[this.auth.email]" 
                [document]="document"></cms-document-item>
        </div>

        <div class="center-panel" *ngIf="!this.mine">
            <cms-document-item *ngFor="let document of documents " 
                [document]="document"></cms-document-item>
        </div>
    </div>
</div>