<div class="panel panel-default" xmlns="http://www.w3.org/1999/html"  *ngIf="document">
    <div class="panel-heading">
        <div class="row pad-all">
            <h4 class="title margin-left-right">{{document?.title}}</h4>
            <h5><span>Author:</span>{{document.author}}</h5>
            <div class="row pull-right margin-left-right" *ngIf="document.author == this.auth.email">
                <a class="btn btn-info" [routerLink]="'edit'">Edit</a>
                <a class="btn btn-danger" (click)="onDelete()">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="pad-left-right">
            <div class="row">
                <span class="label-value">{{document?.body}}</span>
            </div>
            <br>
        </div>
    </div>
</div>