<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <h4 class="pull-left">Contacts</h4>
        </div>
        <div class="row">
            <div class="pull-right pad-left-right">
                <a class="pull-right btn btn-success">New Contact</a>
            </div>
        </div>

    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <cms-contact-item *ngFor="let contact of contacts"  [contact]="contact"
                    (click)="onSelected(contact)">
                </cms-contact-item>
            </div>
        </div>
    </div>
</div>